<div class="session jumbotron">
	<div class="container">
		
		<div class="col-md-8">
			<h2>Create Question</h2>
			<form
				name="create_question_form"
				role="form"
				ng-submit="submitQuestion()">

				<div class="form-group">
					<label for="question.answer">Answer</label>
					<input type="text"
						   class="form-control"
					   		placeholder="The average weighs %@ pounds"
					   		name="question.answer"
					   		ng-model="question.answer"
					   		required />
				</div>
				
				<div class="form-group">
					<label for="question.questionType">Question Type</label>
					<select ng-model="selectedQuestionType" ng-options="type as type.title for type in questionTypes"></select>
				</div>

				<div class="form-group">
					<label for="question.question">User Facing Question Wording</label>
					<input type="text"
						   class="form-control"
					   		placeholder="How much do you weigh?"
					   		name="question.question"
					   		ng-model="question.question"
					   		required />
				</div>

				<div class="form-group">
					<label for="question.questionWordings">Search Wordings for Question</label>
					(Wording1, Wording2, Wording3, ...)
					<textarea 	ng-model="questionWordings" 
								ng-list=", " 
								resize="none" 
								class="form-control"
								placeholder="What is your weight?, How much do you weigh?, ..." required></textarea>
				</div>

				<!-- Answer options only if the question is mutliple choice -->
				<div ng-show="selectedQuestionType.id == 0" class="form-group">
					<label for="question.answerOptions">Options for Answers</label>
					(Answer1, Answer2, Answer3, ...)
					<textarea 	ng-model="answerOptions" 
								ng-list=", " 
								resize="none" 
								class="form-control"
								placeholder="Below 100lbs, Between 100 and 150lbs, ..."></textarea>
				</div>

				<!-- Alternate yes option only if the question is a yes or no question -->
				<div ng-show="selectedQuestionType.id != 0" class="form-group">
					<label for="yesAnswer" ng-show="selectedQuestionType.id == 1">Alternate answer wording for "Yes"</label>
					<label for="yesAnswer" ng-show="selectedQuestionType.id > 1">Alternate answer wording for "Don't Know"</label>
					<input type="text"
						   class="form-control"
					   		placeholder="Does"
					   		name="yesAnswer"
					   		ng-show="selectedQuestionType.id == 1"
					   		ng-model="yesAnswer" />
					<input type="text"
					   		class="form-control"
					   		placeholder="Also doesn't"
					   		name="yesAnswer"
					   		ng-show="selectedQuestionType.id > 1"
					   		ng-model="yesAnswer" />
				</div>

				<!-- Alternate no option only if the question is a yes or no question -->
				<div ng-show="selectedQuestionType.id != 0" class="form-group">
					<label for="noAnswer" ng-show="selectedQuestionType.id == 1">Alternate answer wording for "No"</label>
					<label for="noAnswer" ng-show="selectedQuestionType.id > 1">Alternate answer wording for "Not Applicable"</label>
					<input type="text"
						   class="form-control"
					   		placeholder="Does not"
					   		name="noAnswer"
					   		ng-show="selectedQuestionType.id == 1"
					   		ng-model="noAnswer" />
					<input type="text"
						   class="form-control"
					   		placeholder="N/A"
					   		name="noAnswer"
					   		ng-show="selectedQuestionType.id > 1"
					   		ng-model="noAnswer" />
				</div>

				<!-- Give rounding option for numeric questions -->
				<div ng-show="selectedQuestionType.id >= 2" class="form-group">
					<label for="rounding">Rounding for Numeric Answers</label>
					(Group the answers to the nearest given number, ex. Income may round to nearest $5000)
					<input type="text"
						   class="form-control"
					   		placeholder="5000"
					   		name="rounding"
					   		ng-model="rounding" />
				</div>

				<div class="form-group">
					<button type="submit"
							class="btn btn-primary">Create</button>
				</div>

				<div ng-if="create.errors" class="alert alert-danger">
					<h2>{{create.errors}}</h2>
				</div>
				
			</form>
		<div>
	</div>
</div>